.addProfile{

  input{
    &:focus{
      outline: 0;
    }
    width: 100%;
  }
  
  #headerBackground{
    margin-top: 0px;
    width: 100%;
    margin: 0 auto;
    background: grey;
    padding: 10px 15px;
  }

  #subHeaderBackground{
    margin-top: 0px;
    width: 100%;
    margin: 0 auto;
    background:lightgrey;
    padding: 10px 15px;
  }

  #bodyBackground{
    margin-top: 0px;
    width: 70%;
    length: 90%;
    margin: 0 auto;
    background: pink;
    border-color: lightpink;
    padding: 10px 15px;
    border-radius: 10px;
    overflow: auto;
  }

  #textBox{
    text-align: justify;
    float: right;
   // display: inline-block;
    width: 70%;
    background-color: darkcyan;
    padding: 20px 10px;
    border-radius: 10px;
    border-color: red;
  }

  #leftBox{
    width: 25%;
    float: left;
    background: grey;
    padding: 10px 0px;
    border-radius: 10px;
  }

  #checks{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    color: white;
    background-color: blue;
    border: 0;
    border-radius: 10px;
    border-bottom: 3px solid #333;
  }

  #grid{
    width: 95%;
    margin: 0px;
    margin-bottom: 10px;
  }
}